// stylelint-disable

/*---------------------------------- BUTTONS ------------------------------------*/

.button-solid-orange {
  @include button-solid($white, $orange, $white, $blue);
}

.button-solid-white {
  @include button-solid($orange, $white, $white, $blue);
}

/*-------------------------------- BUTTON GRID ----------------------------------*/

.button-grid {
  position: relative;
  z-index: 1;
  width: 100%;
  margin: -10px -10px 0;
  font-size: 0;

  @include breakpoint(medium) {
    width: auto;
  }
}

.button-grid_centered {
  @include breakpoint(medium) {
    margin: -10px auto 0;
  }
}

.button-grid__item {
  display: block;
  width: 100%;
  margin: 10px 10px 0;
  vertical-align: top;

  @include breakpoint(medium) {
    display: inline-block;
    width: auto;
  }
}
