// stylelint-disable selector-max-type

// Layout

html {
  height: 100%;
  box-sizing: border-box;
}


::selection {
  color: $white;
  background: $teal;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

// Media

img,
svg {
  display: block;
  max-width: 100%;
}

// Typography

ol,
ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

li {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  color: currentColor;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  color: currentColor;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  appearance: none;
  cursor: pointer;
}

blockquote {
  padding: 0;
  margin: 0;
}
