// stylelint-disable
/*------------------------------------ STYLES -----------------------------------*/

// Headers
.heading-style-1 {
  @include heading-style-1;
}

.heading-style-2 {
  @include heading-style-2;
}

.heading-style-3 {
  @include heading-style-3;
}

.heading-style-4 {
  @include heading-style-4;
}

.heading-style-5 {
  @include heading-style-5;
}

.heading-style-6 {
  @include heading-style-6;
}

// Subhead
.subhead-style-1 {
  @include subhead-style-1;
}

.subhead-style-2 {
  @include subhead-style-2;
}

// Text
.text-style-1 {
  @include text-style-1;
}

.text-style-2 {
  @include text-style-2;
}

// Color Modifiers (Interchangeable between Headers and Text)
.text-black {
  color: $charcoal;
}

.text-white {
  color: $white;
}

.text-lime {
  color: $lime;
}

.text-orange {
  color: $tangerine;
}

.text-cerulean {
  color: $cerulean;
}

/*----------------------------------- SPACING -----------------------------------*/

// Heading (Style 1)
.heading-style-1 + .text-style-1 {
  margin-top: $space-small;

  @include breakpoint(medium) {
    margin-top: $space-medium;
  }
}

// Heading (Style 3)
.heading-style-3 + .text-style-1 {
  margin-top: $space-medium;
}

// Heading (Style 5)
.heading-style-5 + .text-style-1 {
  margin-top: $space-small;
}

// Heading (Style 6)
.heading-style-6 + .text-style-2 {
  margin-top: $space-small;
}

// Subhead (Style 1)
.subhead-style-1 + .heading-style-1 {
  margin-top: $space-xlarge;
}

.subhead-style-1 + .heading-style-3 {
  margin-top: $space-xlarge;
}

.subhead-style-1 + .heading-style-5 {
  margin-top: $space-xlarge;
}

// Subhead (Style 2)
.subhead-style-2 + .heading-style-1 {
  margin-top: $space-large;
}

.subhead-style-2 + .heading-style-2 {
  margin-top: $space-medium;
}

.subhead-style-2 + .heading-style-3 {
  margin-top: $space-small;
}

// Text (Style 1)
.text-style-1 + .button-grid {
  margin-top: 20px;
}
