@mixin button-solid($color, $background, $hover-color, $hover-background) {
  @include button-text-style-1;

  position: relative;
  display: block;
  min-width: 200px;
  overflow: hidden;
  padding: $space-small $space-large;
  color: $color;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  border-radius: 4px;
  transition:
    0.2s color ease-out,
    0.2s background-color ease-out;

  &:hover,
  &:focus {
    color: $hover-color;

    &::after {
      transform: translateY(0);
    }
  }

  &::before,
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
  }

  &::before {
    z-index: -2;
    background-color: $background;
  }

  &::after {
    z-index: -1;
    display: block;
    background-color: $tangerine;
    transition: 0.2s transform ease-out;
    transform: translateY(100%);
  }
}
