@mixin adhere {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin object-fit {
  @include adhere;

  object-fit: cover;
  font-family: 'object-fit: cover;';
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin push-center {
  margin-right: auto;
  margin-left: auto;
}

@mixin clear-center {
  margin-right: unset;
  margin-left: unset;
}

@mixin discernible-content {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

@mixin row-padding {
  $row-padding-small: 5px;
  $row-padding-medium: calc(#{map-get($grid-column-gutter, medium)} / 2);

  padding-right: $row-padding-small;
  padding-left: $row-padding-small;

  @include breakpoint(medium) {
    padding-right: $row-padding-medium;
    padding-left: $row-padding-medium;
  }
}
