// Headings

@mixin heading-style-1 {
  font-family: $font-heading;
  font-size: rem-calc(32px);
  font-weight: 700;
  line-height: (38 / 32);
  letter-spacing: rem-calc(0.5px);

  @include breakpoint(large) {
    font-size: rem-calc(65px);
    line-height: (68 / 65);
    letter-spacing: rem-calc(1px);
  }
}

@mixin heading-style-2 {
  font-family: $font-heading;
  font-size: rem-calc(42px);
  font-weight: 700;
  line-height: (46 / 42);
  letter-spacing: rem-calc(0.6px);

  @include breakpoint(large) {
    font-size: rem-calc(54px);
    line-height: (65 / 54);
    letter-spacing: rem-calc(0.6px);
  }
}

@mixin heading-style-3 {
  font-family: $font-heading;
  font-size: rem-calc(32px);
  font-weight: 700;
  line-height: (38 / 32);
  letter-spacing: rem-calc(0.5px);

  @include breakpoint(large) {
    font-size: rem-calc(45px);
    line-height: (52 / 45);
    letter-spacing: rem-calc(0.6px);
  }
}

@mixin heading-style-4 {
  font-family: $font-heading;
  font-size: rem-calc(26px);
  font-weight: 700;
  line-height: (32 / 26);
  letter-spacing: rem-calc(0.6px);

  @include breakpoint(large) {
    font-size: rem-calc(40px);
    line-height: (47 / 40);
    letter-spacing: rem-calc(0.5px);
  }
}

@mixin heading-style-5 {
  font-family: $font-heading;
  font-size: rem-calc(26px);
  font-weight: 700;
  line-height: (32 / 26);
  letter-spacing: rem-calc(0.6px);

  @include breakpoint(large) {
    font-size: rem-calc(35px);
    line-height: (42 / 35);
    letter-spacing: rem-calc(0.45px);
  }
}

@mixin heading-style-6 {
  font-family: $font-heading;
  font-size: rem-calc(18px);
  font-weight: 700;
  line-height: (26 / 18);
  letter-spacing: rem-calc(0.45px);

  @include breakpoint(large) {
    font-size: rem-calc(20px);
    line-height: (28 / 20);
    letter-spacing: rem-calc(0.5px);
  }
}

// Subheads

@mixin subhead-style-1 {
  font-family: $font-heading;
  font-size: rem-calc(20px);
  font-weight: 700;
  line-height: (24 / 20);
  letter-spacing: rem-calc(0.56px);

  @include breakpoint(large) {
    font-size: rem-calc(25px);
    line-height: (29 / 25);
    letter-spacing: rem-calc(0.7px);
  }
}

@mixin subhead-style-2 {
  font-family: $font-heading;
  font-size: rem-calc(16px);
  font-weight: 700;
  line-height: (18 / 16);
  letter-spacing: rem-calc(0.8px);

  @include breakpoint(large) {
    font-size: rem-calc(18px);
    line-height: (21 / 18);
    letter-spacing: rem-calc(0.6px);
  }
}

// Body Text

@mixin text-style-1 {
  font-family: $font-heading;
  font-size: rem-calc(16px);
  font-style: normal;
  font-weight: 400;
  line-height: (26 / 16);
  letter-spacing: rem-calc(0.45px);

  @include breakpoint(large) {
    font-size: rem-calc(18px);
    letter-spacing: rem-calc(0.5px);
  }
}

@mixin text-style-2 {
  font-family: $font-heading;
  font-size: rem-calc(14px);
  font-weight: 400;
  font-style: normal;
  line-height: (23 / 14);
  letter-spacing: rem-calc(0.35px);

  @include breakpoint(large) {
    font-size: rem-calc(15px);
    line-height: (23 / 15);
    letter-spacing: rem-calc(0.4px);
  }
}

// Buttons

@mixin button-text-style-1 {
  font-family: $font-heading;
  font-size: rem-calc(14px);
  font-weight: 700;
  line-height: (17 / 14);
  letter-spacing: rem-calc(2.2px);
  text-transform: uppercase;
}
