// Nuetrals
$black:           #000;
$white:           #fff;
$charcoal:        #2b2b2b;

// Hues
$orange:          #f26227;
$tangerine:       #ffab30;
$lime:            #65a328;
$blue:            #3399ff;
$cerulean:        #2788c9;
$teal:            #1b96ba;

$color-primary-default:   #3b6472;
$color-secondary-default: #2e4045;

$ease-default: cubic-bezier(0.4, 0.0, 0.2, 1);
$ease-accelerate: cubic-bezier(0.4, 0.0, 1, 1);
$ease-decelerate: cubic-bezier(0.0, 0.0, 0.2, 1);

$transition-default: 0.2s $ease-default;

// Spacing
$space-small: 15px;
$space-medium: 20px;
$space-large: 25px;
$space-xlarge: 30px;
$space-xxlarge: 40px;

$font-heading: 'PT Sans', sans-serif;

$grid-column-gutter: (
  small:  40px,
  medium: 30px,
);

$breakpoints: (
  small: 0,
  medium: 640px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px,
  footer: 830px,
);

$z-overlay:          5;
$z-video-modal:      10;
$z-header-menu-open: 10;
