<template>
  <a
    :href="url"
    :title="property"
    :aria-label="property"
    :class="`BaseCtaSocial_${property}`"
    class="BaseCtaSocial"
    target="_blank"
    rel="noopener"
  >
    <svg
      aria-hidden="true"
      viewBox="0 0 65 65"
      class="BaseCtaSocial__icon"
      xmlns="http://www.w3.org/2000/svg"
    >
      <use :xlink:href="`/svg/social-${this.property}.svg#icon`"/>
    </svg>
  </a>
</template>

<script>
export default {
  props: {
    url: {
      type: String,
      required: true,
    },
    property: {
      type: String,
      default: null,
    },
  },
}
</script>

<style lang="scss">
.BaseCtaSocial {
  $social-cta: 40px;

  display: inline-flex;
  width: $social-cta;
  height: $social-cta;
  margin-top: $space-small;
  margin-right: $space-small;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: $cerulean;
  transition: background-color $transition-default;

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    background-color: $tangerine;
  }
}

.BaseCtaSocial__icon {
  $social-icon: 36px;

  width: $social-icon;
  height: $social-icon;
  fill: $white;
}
</style>
