<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 60 60"
    aria-hidden="true"
    class="BaseArrow"
    :class="`BaseArrow_${direction}`"
  >
    <use xlink:href="/svg/base-arrow.svg#base-arrow"/>
  </svg>
</template>

<script>
export default {
  props: {
    direction: {
      type: String,
      default: 'right',
      validator: value => [
        'up',
        'left',
        'down',
        'right',
      ].includes(value),
    },
  },
}
</script>

<style lang="scss">
.BaseArrow {
  width: 100%;
  height: auto;
}

.BaseArrow_up {
  transform: rotate(-90deg);
}

.BaseArrow_left {
  transform: rotate(-180deg);
}

.BaseArrow_down {
  transform: rotate(90deg);
}
</style>
