<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 125.019 58.201"
    class="BaseLogo"
    :fill="fill"
  >
    <use :xlink:href="`${src}#logo`"/>
  </svg>
</template>

<script>
export default {
  props: {
    src: {
      type: String,
      required: true,
    },
    fill: {
      type: String,
      default: '#000',
    },
  },
}
</script>
