<template>
  <section class="ModuleInstagram">
    <img
      alt=""
      aria-hidden="true"
      class="ModuleInstagram__decor"
      src="/svg/decor-summer.svg"
    />
    <div class="ModuleInstagram__inner">
      <div class="ModuleInstagram__intro">
        <h3
          v-if="content.subheading"
          class="subhead-style-2 text-lime"
          v-text="content.subheading"
        />
        <h2
          class="heading-style-3 text-black"
          v-text="content.heading"
        />
      </div>
    </div>
    <GsapAnimation class="ModuleInstagram__inner">
      <div class="ModuleInstagram__main">
        <div class="ModuleInstagram__image-wrap">
          <GsapAnimationItem
            hasMask
            animation-type="fadeInRight"
            :background-color="colors.orange"
            class="ModuleInstagram__image"
          >
            <img
              :src="content.featured.src"
              :alt="content.featured.alt"
              class="ModuleInstagram__img"
            />
          </GsapAnimationItem>
        </div>
      </div>
      <ul class="ModuleInstagram__secondary">
        <li
          v-for="(image, index) in content.images"
          :key="index"
          class="ModuleInstagram__item"
        >
          <div class="ModuleInstagram__image-wrap">
            <GsapAnimationItem
              hasMask
              animation-type="fadeInRight"
              :delay="durations.shortest + (durations.shortest * index)"
              :background-color="colors.orange"
              class="ModuleInstagram__image"
            >
              <img
                :src="image.src"
                :alt="image.alt"
                class="ModuleInstagram__img"
              />
            </GsapAnimationItem>
          </div>
        </li>
      </ul>
    </GsapAnimation>
    <div class="ModuleInstagram__outro">
      <ul
        v-if="content.ctas"
        class="button-grid"
      >
        <li
          v-for="(cta, index) in content.ctas"
          :key="`button_${index}`"
          class="button-grid__item"
        >
          <a
            class="button-solid-orange"
            v-text="cta.text"
            :href="cta.href"
            target="_blank"
          />
        </li>
      </ul>
    </div>
  </section>
</template>

<script>
import root from '@/util/root'
import propsContent from '@/util/propsContent'

export default {
  inject: { root },
  props: { ...propsContent },
  data() {
    const { durations, colors } = this.root
    return { durations, colors }
  },
}
</script>

<style lang="scss">
.ModuleInstagram {
  position: relative;
  padding: 50px 0;
  overflow: hidden;

  @include breakpoint(large) {
    padding: 120px 0;
  }
}

.ModuleInstagram__decor {
  position: absolute;
  top: 0;
  right: -1%;
  height: 100%;
}

.ModuleInstagram__inner {
  @include flex-grid-row;
}

.ModuleInstagram__inner + .ModuleInstagram__inner {
  margin-top: $space-xxlarge;

  @include breakpoint(large) {
    margin-top: 50px;
  }
}

.ModuleInstagram__inner + .ModuleInstagram__outro {
  margin-top: $space-xxlarge;

  @include breakpoint(medium) {
    margin-top: 0;
  }
}

.ModuleInstagram__intro {
  @include flex-grid-column(12);

  @include breakpoint(medium) {
    @include flex-grid-column(8);
  }

  @include breakpoint(xlarge) {
    @include flex-grid-column(12);
  }
}

.ModuleInstagram__main,
.ModuleInstagram__secondary {
  @include flex-grid-column(12);

  @include breakpoint(medium) {
    @include flex-grid-column(6);
  }
}

.ModuleInstagram__secondary {
  display: none;
  font-size: 0;

  @include breakpoint(medium) {
    display: block;
  }
}

.ModuleInstagram__image-wrap {
  position: relative;
  overflow: hidden
}

.ModuleInstagram__image {
  position: relative;
  transform: translateX(-100%);

  &::after {
    display: block;
    padding-bottom: 100%;
    content: "";
  }
}

.ModuleInstagram__img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.ModuleInstagram__item {
  display: inline-block;
  width: 50%;

  .ModuleInstagram__secondary & {
    padding-top: 30px;

    &:nth-child(1),
    &:nth-child(2) {
      padding-top: 0;
    }

    &:nth-child(odd) {
      padding-right: 15px;
    }

    &:nth-child(even) {
      padding-left: 15px;
    }
  }
}

.ModuleInstagram__outro {
  @include flex-grid-row;
  @include flex-grid-column(12);

  @include breakpoint(medium) {
    position: absolute;
    top: 70px;
    right: 0;
    left: 0;
    justify-content: flex-end;
    width: 100%;
    max-width: 1200px;
    pointer-events: none;
  }

  @include breakpoint(large) {
    top: 150px;
  }

  .button-grid {
    @include breakpoint(medium) {
      pointer-events: all;
    }
  }
}
</style>
