<template>
  <component
    :is="loadModule"
    :class="moduleData.class"
    v-bind="moduleData"
  />
</template>

<script>
import ModuleCta from '@/components/ModuleCta.vue'
import ModuleHero from '@/components/ModuleHero.vue'
import ModuleCard from '@/components/ModuleCard.vue'
import ModuleNews from '@/components/ModuleNews.vue'
import ModuleCards from '@/components/ModuleCards.vue'
import ModuleCarousel from '@/components/ModuleCarousel.vue'
import ModuleInstagram from '@/components/ModuleInstagram.vue'

export default {
  components: {
    ModuleCta,
    ModuleNews,
    ModuleHero,
    ModuleCard,
    ModuleCards,
    ModuleCarousel,
    ModuleInstagram,
  },
  props: {
    moduleData: {
      type: Object,
      required: true,
    },
  },
  computed: {
    loadModule() {
      const { type } = this.moduleData

      return `Module${type.charAt(0).toUpperCase()}${type.slice(1)}`
    },
  },
}
</script>
