<template>
  <section
    class="ModuleCard"
  >
    <div class="ModuleCard__image">

    </div>
    <div class="ModuleCard__content">
      <div class="ModuleCard__content-inner">
        <h3
          class="subhead-style-1 text-lime"
          v-text="'Creatures of Habitat'"
        />
        <h2
          class="heading-style-5 text-black"
          v-text="'Branded headline related to COH'"
        />
        <p
          class="text-style-1 text-black"
        ></p>
        <ul
          class="button-grid"
        >
          <li class="button-grid__item">
            <a
              class="button-solid-orange"
              v-text="'Become a Member'"
              href="https://www.google.com/"
            />
          </li>
          <li class="button-grid__item">
            <a
              class="button-solid-orange"
              v-text="'Buy Tickets'"
              href="https://www.google.com/"
            />
          </li>
        </ul>
      </div>
    </div>
  </section>
</template>

<script>
import propsContent from '@/util/propsContent'
import ModuleCardsItem from '@/components/ModuleCardsItem.vue'

export default {
  components: {
    ModuleCardsItem,
  },
  props: {
    ...propsContent,
  },
}
</script>
