<template>
  <GsapAnimation
    tag="section"
    class="ModuleCard"
    :class="{ 'ModuleCard_reverse': content.reverse  }"
  >
    <ModuleCardImage
      v-if="!content.reverse"
      :image="content.image"
      animation-type="fadeInRight"
      :image-small="content.imageSmall"
    />
    <div class="ModuleCard__content">
      <GsapAnimationItem
        animation-type="fadeInUp"
        :delay="root.durations.base"
        class="ModuleCard__content-inner"
      >
        <h3
          v-if="content.subheading"
          class="ModuleCard__header subhead-style-1 text-lime"
        >
          <div class="ModuleCard__icon">
            <img
              class="ModuleCard__iconSvg"
              :src="content.icon.src"
              :alt="content.icon.alt"
            />
          </div>
          {{ content.subheading }}
        </h3>
        <h2
          class="heading-style-3 text-black"
          v-text="content.heading"
        />
        <p
          class="text-style-1 text-black"
          v-text="content.text"
        />
        <ul
          v-if="content.ctas"
          class="button-grid"
        >
          <li
            v-for="({ text, href }, index) in content.ctas"
            :key="`button_${index}`"
            class="button-grid__item"
          >
            <a
              :href="href"
              target="_blank"
              rel="noopener"
              v-text="text"
              class="button-solid-orange"
            />
          </li>
        </ul>
      </GsapAnimationItem>
    </div>
    <ModuleCardImage
      v-if="content.reverse"
      :image="content.image"
      animation-type="fadeInLeft"
      :image-small="content.imageSmall"
    />
  </GsapAnimation>
</template>

<script>
import root from '@/util/root'
import propsContent from '@/util/propsContent'

import ModuleCardImage from '@/components/ModuleCardImage.vue'

export default {
  inject: { root },
  components: {
    ModuleCardImage,
  },
  props: { ...propsContent },
}
</script>

<style lang="scss">
.ModuleCard {
  position: relative;
  padding-top: 380px;
  padding-bottom: $space-medium;
  overflow: hidden;
  font-size: 0;

  @include breakpoint(medium) {
    height: 600px;
    padding-top: 0;
    padding-bottom: 0
  }

  @include breakpoint(xlarge) {
    height: 700px;
  }

  &:last-child {
    padding-bottom: 40px;
  }
}

.ModuleCard + .ModuleCard {
  padding-bottom: $space-xxlarge;

  @include breakpoint(medium) {
    padding-bottom: 0;
  }
}

.ModuleCard__image,
.ModuleCard__content {
  display: block;
  vertical-align: bottom;

  @include breakpoint(medium) {
    display: inline-block;
    height: 100%;
  }
}

.ModuleCard__image {
  position: absolute;
  top: $space-xxlarge;
  right: 0;
  left: 0;
  height: 310px;
  margin: 0 20px;

  @include breakpoint(medium) {
    position: relative;
    top: 0;
    right: auto;
    height: 100%;
    margin: 0;
    width: calc(50% + 50px);
  }
}

.ModuleCard__imageLarge {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 30px);
  height: 280px;
  max-width: 900px;
  overflow: hidden;

  @include breakpoint(medium) {
    left: auto;
    right: 0;
    width: 100%;
    height: 100%;
  }

  .ModuleCard_reverse & {
    @include breakpoint(medium) {
      left: 0;
    }
  }
}

.ModuleCard__imageSmall {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 126px;
  height: 153px;
  overflow: hidden;

  @include breakpoint(medium) {
    right: -30px;
  }

  @include breakpoint(large) {
    width: 200px;
    height: 250px;
  }

  @include breakpoint(xlarge) {
    right: -60px;
    width: 250px;
    height: 304px;
  }

  .ModuleCard_reverse & {
    @include breakpoint(medium) {
      right: auto;
      left: -30px;
    }

    @include breakpoint(xlarge) {
      left: -60px;
    }
  }
}

.ModuleCard__img {
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
}

.ModuleCard__content {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;

  @include breakpoint(medium) {
    width: calc(50% - 50px);
    padding: 0 50px;
  }

  @include breakpoint(xlarge) {
    padding: 0 20px;
  }
}

.ModuleCard__content-inner {
  width: 100%;

  @include breakpoint(medium) {
    max-width: 430px;
  }
}

.ModuleCard__header {
  display: flex;
  align-items: center;
}

.ModuleCard__icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  margin-right: $space-medium;
  border-radius: 50%;
  background-color: $lime;

  @include breakpoint(medium) {
    width: 54px;
    height: 54px;
  }
}

.ModuleCard__iconSvg {
  width: 22px;

  @include breakpoint(medium) {
    width: 30px;
  }
}
</style>
