<template>
  <div class="ModuleCard__image">
    <GsapAnimationItem
      hasMask
      :animation-type="animationType"
      class="ModuleCard__imageLarge"
      :background-color="root.colors.lime"
      :class="`ModuleCard__imageLarge_${animationType}`"
    >
      <img
        class="ModuleCard__img"
        :src="image.src"
        :alt="image.alt"
      />
    </GsapAnimationItem>
    <GsapAnimationItem
      hasMask
      :animation-type="animationType"
      class="ModuleCard__imageSmall"
      :background-color="root.colors.teal"
      :delay="root.durations.shorter"
      :class="`ModuleCard__imageSmall_${animationType}`"
    >
      <img
        class="ModuleCard__img"
        :src="imageSmall.src"
        :alt="imageSmall.alt"
      />
    </GsapAnimationItem>
  </div>
</template>

<script>
import root from '@/util/root'

const typeCheckObject = { type: Object, required: true }

export default {
  inject: { root },
  props: {
    image: typeCheckObject,
    imageSmall: typeCheckObject,
    animationType: {
      type: String,
      required: true,
    },
  },
}
</script>

<style>
.ModuleCard__imageLarge_fadeInLeft,
.ModuleCard__imageSmall_fadeInLeft {
  transform: translateX(100%)
}

.ModuleCard__imageLarge_fadeInRight,
.ModuleCard__imageSmall_fadeInRight {
  transform: translateX(-100%);
}
</style>
