<template>
  <div class="ModuleCarouselItem">
    <div class="ModuleCarouselItem__inner">
      <div class="ModuleCarouselItem__image-wrap">
        <img
          v-if="image.src"
          :src="image.src"
          :alt="image.alt"
          class="ModuleCarouselItem__image"
        />
      </div>
    </div>
    <div class="ModuleCarouselItem__content">
      <h3
        v-if="subheading"
        v-text="subheading"
        class="ModuleCarouselItem__subheading"
      />
      <h2
        v-if="heading"
        v-text="heading"
        class="ModuleCarouselItem__heading"
      />
      <p
        v-if="copy"
        class="ModuleCarouselItem__copy"
        v-text="copy"
      />
    </div>
  </div>
</template>

<script>
// import BaseCta from '@/components/BaseCta.vue'

export default {
  components: {
    // BaseCta,
  },
  props: {
    image: {
      type: Object,
      default: null,
    },
    heading: {
      type: String,
      default: null,
    },
    subheading: {
      type: String,
      default: null,
    },
    copy: {
      Type: String,
      default: null,
    },
    cta: {
      Type: String,
      default: null,
    },
  },
}
</script>

<style lang="scss">
.ModuleCarouselItem {
   @include flex-grid-row;
}

.ModuleCarouselItem__inner {
  @include flex-grid-column(12);

  @include breakpoint(large) {
    @include flex-grid-size(5);
  }

  @include breakpoint(xlarge) {
    @include flex-grid-column(5);
  }
}

.ModuleCarouselItem__image-wrap {
  $image-height: 200px;

  position: relative;
  width: 100%;
  min-height: $image-height;
  height: $image-height;

  @include breakpoint(medium) {
    min-height: 500px;
  }
}

.ModuleCarouselItem__image {
  @include object-fit;

  opacity: 0.8;
}

.ModuleCarouselItem__content {
  @include flex-grid-column(12);

  order: 2;

  @include breakpoint(large) {
    @include flex-grid-column(5);
    @include grid-column-offset(0.05);

    padding-top: $space-large;
  }
}

.ModuleCarouselItem__subheading {
  // @include heading-smaller;

  color: $black;
  text-transform: uppercase;
}

.ModuleCarouselItem__heading {
  // @include heading-default;

  color: $color-secondary-default;

  .ModuleCarouselItem__subheading + & {
    margin-top: $space-small;
  }
}

.ModuleCarouselItem__copy {
  // @include body-default;

  margin-top: $space-small;
}
</style>

