<template>
  <GsapAnimation
    tag="section"
    class="ModuleCarousel"
    @click.native="pauseMode = true"
  >
    <div class="ModuleCarousel__inner">
      <ul
        class="ModuleCarousel__navigation"
        @mouseover="focusMode = true"
        @mouseleave="focusMode = false"
      >
        <li
          class="ModuleCarousel__item"
          v-for="(item, index) in content.items"
          :key="`dot_${index}`"
        >
          <button
            class="ModuleCarousel__dot"
            :class="{'ModuleCarousel__dot_active': activeSlide === index}"
            @click="activeSlide = index"
            v-text="item.dot"
          />
        </li>
      </ul>
    </div>
    <div class="ModuleCarousel__outer">
      <GsapAnimationItem
        animation-type="fadeInUp"
        class="ModuleCarousel__inner"
      >
        <div
          ref="slider"
          class="ModuleCarousel__main"
          @mouseover="focusMode = true"
          @mouseleave="focusMode = false"
        >
          <div class="ModuleCarousel__tag"
            v-text="content.items[activeSlide].tag.text"
          />
          <div class="ModuleCarousel__left">
            <img
              class="ModuleCarousel__img"
              :class="{'ModuleCarousel__img_active': activeSlide === index}"
              v-for="(item, index) in content.items"
              :key="`img_${index}`"
              :src="item.image.src"
              :alt="item.image.alt"
            />
          </div>
          <div class="ModuleCarousel__right">
            <div
              v-for="(item, index) in content.items"
              :key="`content_${index}`"
              class="ModuleCarousel__contentWrap"
              :class="{'ModuleCarousel__contentWrap_active': activeSlide === index}"
            >
              <div class="ModuleCarousel__content">
                <h3
                  v-if="item.subhead"
                  class="ModuleCard__header subhead-style-1 text-lime"
                >
                  <div class="ModuleCard__icon">
                    <img
                      class="ModuleCard__iconSvg"
                      :src="item.icon.src"
                      :alt="item.icon.alt"
                    />
                  </div>
                  {{ item.subhead }}
                </h3>
                <h2
                  class="heading-style-5 text-black"
                  v-text="item.heading"
                />
                <p
                  class="text-style-1 text-black"
                  v-text="item.text"
                />
                <ul
                  v-if="item.ctas"
                  class="button-grid"
                >
                  <li
                    v-for="(cta, index) in item.ctas"
                    :key="`button_${index}`"
                    class="button-grid__item"
                  >
                    <a
                      class="button-solid-orange"
                      v-text="cta.text"
                      :href="cta.href"
                      target="_blank"
                    />
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </GsapAnimationItem>
    </div>
  </GsapAnimation>
</template>

<script>
import Hammer from 'hammerjs'

import propsContent from '@/util/propsContent'
import ModuleCarouselItem from '@/components/ModuleCarouselItem.vue'

export default {
  components: { ModuleCarouselItem },
  props: {
    ...propsContent,
  },
  data() {
    return {
      activeSlide: 0,
      pauseMode: false,
      focusMode: false,
    }
  },
  methods: {
    setActiveSlide(increment = 0) {
      this.activeSlide = increment
    },
  },
  mounted() {
    const hammer = new Hammer(this.$refs.slider)

    setInterval(() => {
      if (!this.focusMode && !this.pauseMode) {
        const { setActiveSlide, activeSlide } = this

        if (activeSlide === this.content.items.length - 1) {
          setActiveSlide()
        } else {
          setActiveSlide(activeSlide + 1)
        }
      }
    }, 7000)

    hammer.on('swipeleft', () => {
      const { setActiveSlide, activeSlide } = this

      if (activeSlide === this.content.items.length - 1) {
        setActiveSlide()
      } else {
        setActiveSlide(activeSlide + 1)
      }
    })

    hammer.on('swiperight', () => {
      const { setActiveSlide, activeSlide } = this

      if (activeSlide === 0) {
        setActiveSlide(this.content.items.length - 1)
      } else {
        setActiveSlide(activeSlide - 1)
      }
    })
  },
}
</script>

<style lang="scss">
.ModuleCarousel {
  padding: 60px 0 40px;
  background-image: url("/images/carousel-background_mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include breakpoint(medium) {
    background-image: url("/images/carousel-background.jpg");
  }

  @include breakpoint(large) {
    padding: 100px 0;
  }

  .ModuleCard__icon {
    width: 40px;
    height: 40px;
    margin-right: 15px;
  }

  .ModuleCard__iconSvg {
    width: 24px;
    max-height: 24px;
  }

  .subhead-style-1 {
    font-size: 20px;
  }

  .subhead-style-1 + .heading-style-5 {
    margin-top: 20px;
  }
}

.ModuleCarousel__inner {
  @include flex-grid-row;
}

.ModuleCarousel__inner + .ModuleCarousel__outer {
  margin-top: $space-xxlarge;

  @include breakpoint(large) {
    margin-top: 90px;
  }
}

.ModuleCarousel__navigation {
  @include flex-grid-column(12);
  text-align: center;
}

.ModuleCarousel__item {
  position: relative;
  display: inline-block;
}

.ModuleCarousel__item + .ModuleCarousel__item {
  margin-left: 38px;

  @include breakpoint(large) {
    margin-left: 80px;
  }

  &::before {
    position: absolute;
    top: calc(50% - 5px);
    left: -24px;
    width: 10px;
    height: 10px;
    content: "";
    background-color: #5f5f5f;
    border-radius: 50%;

    @include breakpoint(large) {
      left: -45px;
    }
  }
}

.ModuleCarousel__dot {
  position: relative;
  padding: 0;
  font-family: $font-heading;
  font-size: rem-calc(28px);
  font-weight: 700;
  line-height: (33 / 28);
  letter-spacing: rem-calc(0.42px);
  color: $charcoal;
  cursor: pointer;

  @include breakpoint(medium) {
    font-size: rem-calc(40px);
    line-height: (68 / 65);
    letter-spacing: rem-calc(1px);
  }

  @include breakpoint(large) {
    font-size: rem-calc(65px);
  }

  &:hover::before,
  &.ModuleCarousel__dot_active::before {
    @media (pointer: fine) {
      width: 100%;
    }
  }

  &.ModuleCarousel__dot_active {
    @media (pointer: coarse) {
      border-bottom: 4px solid $orange;
    }
  }

  &::before {
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 4px;
    content: "";
    background-color: $orange;
    transition: 0.2s width ease-out;
  }
}

.ModuleCarousel__main {
  @include flex-grid-column(12);
  position: relative;
  font-size: 0;

  @include breakpoint(medium) {
    height: 500px;
  }
}

.ModuleCarousel__tag {
  @include button-solid($white, $lime, $white, $blue);

  position: absolute;
  top: $space-medium;
  left: 5px;
  z-index: 1;
  display: block;
  min-width: 0;
  transition: 0.2s width ease-out;

  @include breakpoint(medium) {
    top: $space-xxlarge;
  }

  @include breakpoint(xlarge) {
    left: -15px;
  }

  &::after {
    display: none;
  }
}

.ModuleCarousel__left,
.ModuleCarousel__right {
  background-color: $white;

  @include breakpoint(medium) {
    display: inline-block;
    width: 50%;
    height: 100%;
  }
}

.ModuleCarousel__left {
  position: relative;
  height: 230px;
  border-top: 10px solid $tangerine;

  @include breakpoint(medium) {
    height: 100%;
    border-top: none;
    border-left: 8px solid $tangerine;
  }
}

.ModuleCarousel__right {
  position: relative;
  height: 500px;

  @include breakpoint(medium) {
    height: 100%;
  }
}

.ModuleCarousel__img {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  transition:
    0.4s opacity ease-in-out,
    0.4s visibility ease-in-out,
    0.4s transform ease-in-out;

  &.ModuleCarousel__img_active {
    visibility: visible;
    opacity: 1;
  }
}


.ModuleCarousel__contentWrap {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 30px;
  opacity: 0;
  transform: translateY(30px);
  transition:
    0.4s opacity ease-in-out,
    0.4s visibility ease-in-out,
    0.4s transform ease-in-out;

  @include breakpoint(medium) {
    padding: 0 20px;
  }

  &.ModuleCarousel__contentWrap_active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

.ModuleCarousel__content {
  @include breakpoint(large) {
    width: 370px;
  }
}
</style>
