<template>
  <GsapAnimation
    tag="section"
    class="ModuleCta"
  >
    <img
      alt=""
      aria-hidden="true"
      src="images/cta-graphic.jpg"
      class="ModuleCta__graphic"
    >
    <div class="ModuleCta__outer">
      <GsapAnimationItem
        animation-type="fadeInUp"
        :delay="root.durations.base"
        class="ModuleCta__inner"
      >
        <span
          v-text="content.subheading"
          class="ModuleCta__subheading subhead-style-2 text-white"
        />
        <h2
          v-text="content.heading"
          class="ModuleCta__heading heading-style-3 text-white"
        />
        <ul class="ModuleCta__list button-grid">
          <li
            v-for="({ text, href }, index) in content.ctas"
            :key="index"
            class="ModuleCta__list-item button-grid__item"
          >
            <a
              :href="href"
              class="ModuleCta__list-item-link button-solid-white"
              v-text="text"
              target="_blank"
            />
          </li>
        </ul>
      </GsapAnimationItem>
    </div>
    <GsapAnimationItem
      hasMask
      animation-type="fadeInLeft"
      :background-color="root.colors.lime"
      class="ModuleCta__image-wrap"
    >
      <img
        :alt="content.image.alt"
        :src="content.image.src"
        class="ModuleCta__image"
      >
    </GsapAnimationItem>
  </GsapAnimation>
</template>

<script>
import root from '@/util/root'
import propsContent from '@/util/propsContent'

export default {
  inject: { root },
  props: {
    ...propsContent,
  },
}
</script>


<style lang="scss">
.ModuleCta {
  position: relative;
  overflow: hidden;
  background-color: $orange;

  @include breakpoint(medium) {
    height: 633px;
  }
}

.ModuleCta__outer {
  @include flex-grid-row;

  @include breakpoint(medium) {
    display: flex;
    align-items: center;
    right: 0;
    @include adhere;
  }
}

.ModuleCta__inner {
  $_padding: $space-xxlarge;

  padding-top: $_padding;
  padding-bottom: $_padding;
  @include flex-grid-column(12);

  @include breakpoint(medium) {
    @include flex-grid-column(6);
    @include grid-column-offset(1.05);
  }
}

// Not preferred :(
.ModuleCta__heading + .ModuleCta__list {
  margin-top: $space-xlarge;

  @include breakpoint(medium) {
    margin-top: $space-xxlarge;
  }
}

.ModuleCta__image-wrap {
  display: none;

  @include breakpoint(medium) {
    position: absolute;
    display: block;
    right: 0;
    width: 40%;
    height: 100%;
    overflow: hidden;
    transform: translateX(100%);
  }
}

.ModuleCta__graphic {
  $_padding: $space-medium;

  padding-right: $_padding;
  padding-left: $_padding;
  width: 100%;
  height: 200px;
  object-fit: cover;
  font-family: '
    object-fit: cover;
    object-position: 50% 10%;
  ';
  object-position: 50% 10%;

  @include breakpoint(rem-calc(28.125em)) {
    display: none;
  }

  @include breakpoint(large) {
    position: absolute;
    display: block;
    top: 50%;
    height: 454px;
    width: auto;
    object-position: center;
    transform: translateY(-50%) translateX(-50%);
  }
}

.ModuleCta__image {
  @include object-fit;
}
</style>
