<template>
  <GsapAnimation
    tag="section"
    class="ModuleNews"
  >
    <img
      alt=""
      src="images/news-graphic.png"
      aria-hidden="true"
      class="ModuleNews__background-graphic"
    >
    <h2
      v-text="content.heading"
      class="ModuleNews__heading heading-style-4 text-black"
    />
    <ul class="ModuleNews__list">
      <GsapAnimationItem
        v-for="(event, index ) in content.events"
        tag="li"
        :key="`GsapAnimation_${index}`"
        animation-type="fadeInUp"
        :delay="shorter + (index * shortest)"
        class="ModuleNews__list-item"
      >
        <div class="ModuleNews__item-wrap">
          <a
            :href="event.cta.href"
            class="ModuleNews__link"
          >
            <img
              alt=""
              aria-hidden="true"
              :src="`svg/icon-${event.type}.svg`"
              class="ModuleNews__event-badge"
            >
            <h3
              v-text="event.heading"
              class="ModuleNews__item-heading heading-style-6 text-black"
            />
            <p
              v-text="event.text"
              class="ModuleNews__item-text text-style-2 text-black"
            />
            <span
              v-text="event.cta.text"
              class="ModuleNews__item-cta"
            />
          </a>
        </div>
      </GsapAnimationItem>
    </ul>
  </GsapAnimation>
</template>

<script>
import root from '@/util/root'
import propsContent from '@/util/propsContent'

export default {
  inject: { root },
  props: { ...propsContent },
  data() {
    const { shorter, shortest } = this.root.durations
    return { shorter, shortest }
  },
}
</script>


<style lang="scss">
.ModuleNews {
  position: relative;
  padding-top: $space-xxlarge;
  padding-bottom: 60px;

  @include breakpoint(medium) {
    padding-top: 100px;
    padding-bottom: 120px;
  }
}

.ModuleNews__background-graphic {
  position: absolute;
  top: $space-medium;
  width: 362px;
  height: 392px;

  @include breakpoint(medium) {
    top: 0;
    bottom: 0;
    width: 40%;
    height: 100%;
    object-fit: cover;
    object-position: right;
  }
}

.ModuleNews__heading {
  text-align: center;
  padding: 0 $space-medium;
}

.ModuleNews__list {
  @include flex-grid-row;
  margin-top: $space-medium;

  @include breakpoint(medium) {
    margin-top: 60px;
  }
}

.ModuleNews__list-item {
  @include flex-grid-column(12);

  &:nth-child(n+2) {
    display: none;
  }

  @include breakpoint(medium) {
    @include flex-grid-size(6);

    &:nth-child(n+2) {
      display: flex;
    }
  }

  @include breakpoint(large) {
    @include flex-grid-size(4);
  }
}

$_events-badge-size: 46px;
$_half-badge-size: ($_events-badge-size / -2);

.ModuleNews__item-wrap {
  display: flex;
  padding-left: -$_half-badge-size;
}

.ModuleNews__item-text {
  padding-bottom: 15px;
}

.ModuleNews__link {
  position: relative;
  display: inline-block;
  padding: $space-xxlarge;
  margin-top: 20px;
  border: 2px solid $blue;
  background-color: $white;
  border-radius: $space-medium;
  outline: none;
}

.ModuleNews__event-badge {
  position: absolute;
  left: $_half-badge-size;
}

.ModuleNews__event-badge {
  height: $_events-badge-size;
  width: $_events-badge-size;
}

.ModuleNews__item-cta {
  position: relative;
  color: $orange;
  @include button-text-style-1;

  &::after {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 1px;
    content: "";
    background-color: $orange;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform $transition-default;
  }

  .ModuleNews__link:hover &,
  .ModuleNews__link:focus & {
    &::after {
      transform: scaleX(1);
    }
  }
}
</style>
