<template>
  <section
    :aria-label="content.heading"
    class="ModuleHero"
  >
    <img
      v-if="content.image"
      :src="content.image"
      class="ModuleHero__image"
      aria-hidden="true"
      alt=""
    >
    <div
      v-if="content.backgroundVideo"
      class="ModuleHero__background-video-wrapper"
    >
      <video
        :src="content.backgroundVideo"
        autoplay
        muted="true"
        loop="true"
        playsinline="true"
        width="300"
        height="200"
        class="ModuleHero__background-video"
      />
    </div>
    <div class="ModuleHero__inner">
      <GsapAnimation class="ModuleHero__content">
        <GsapAnimationItem
          animation-type="fadeInUp"
          class="ModuleHero__content-animation"
        >
          <span
            v-if="content.subhead"
            class="subhead-style-2 text-orange"
            v-text="content.subhead"
          />
          <h1
            v-if="content.heading"
            class="heading-style-1 text-white"
            v-html="content.heading"
          />
          <p
            v-if="content.text"
            class="text-style-1 text-white"
            v-html="content.text"
          />
        </GsapAnimationItem>
        <ul
          v-if="content.ctas"
          class="ModuleHero__button-grid button-grid"
        >
          <li
            v-for="(cta, index) in content.ctas"
            :key="`button_${index}`"
            class="button-grid__item"
          >
            <a
              class="button-solid-orange"
              v-text="cta.text"
              :href="cta.href"
              target="_blank"
            />
          </li>
        </ul>
      </GsapAnimation>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    content: {
      type: Object,
      required: true,
    },
  },
}
</script>

<style lang="scss">
.ModuleHero {
  position: relative;
  overflow: visible;
}

.ModuleHero__image {
  @include object-fit;
  z-index: -1;
  pointer-events: none;
}

.ModuleHero__inner {
  @include flex-grid-row;

  height: 100%;
  min-height: 667px;
  align-items: center;

  @include breakpoint(medium) {
    min-height: 700px;
  }

  @include breakpoint(large) {
    height: 100vh;
    min-height: 800px;
  }
}

.ModuleHero__background-video-wrapper {
  @include adhere;

  overflow: hidden;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background:
      linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.6) 100%
      );
  }
}

.ModuleHero__background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);

    @include breakpoint(medium) {
      display: block;
    }
}

.ModuleHero__content {
  @include flex-grid-column(12);
  z-index: 1;

  @include breakpoint(medium) {
    @include flex-grid-size(7);
  }
}

.ModuleHero__button-grid {
  .ModuleHero__content & {
    margin-top: $space-xlarge;
  }
}

.button-grid {
  .ModuleHero & {
    @include breakpoint(medium) {
      position: absolute;
      top: 5px;
      right: 20px;
    }

    @include breakpoint(xlarge) {
      right: 50px;
    }
  }
}

.ModuleHero__label {
  // @include heading-small;

  color: $black;
  text-transform: uppercase;
}

.ModuleHero__heading {
  // @include heading-larger;

  color: $color-secondary-default;

  .ModuleHero__label + & {
    margin-top: $space-small;
  }
}

.ModuleHero__copy {
  margin-top: $space-small;
}
</style>
