<template>
  <article
    :aria-label="cardData.heading"
    class="ModuleCardsItem"
  >
    <div class="ModuleCardsItem__inner">
      <div class="ModuleCardsItem__image-wrap">
        <img
          v-if="cardData.image"
          :src="cardData.image.src"
          :alt="cardData.image.alt"
          class="ModuleCardsItem__image"
        >
      </div>
      <div class="ModuleCardsItem__content">
        <span
          v-if="cardData.label"
          class="ModuleCardsItem__label"
          v-text="cardData.label"
        />
        <h1
          v-if="cardData.heading"
          class="ModuleCardsItem__heading"
          v-html="cardData.heading"
        />
        <p
          v-if="cardData.copy"
          class="ModuleCardsItem__copy"
          v-html="cardData.copy"
        />
      </div>
    </div>
  </article>
</template>

<script>
export default {
  props: {
    cardData: {
      type: Object,
      required: true,
    },
  },
}
</script>

<style lang="scss">
// .ModuleCardsItem {
//   @include flex-grid-column(12);

//   display: flex;
//   align-self: stretch;
// }

// .ModuleCardsItem__inner {
//   display: flex;
//   width: 100%;
//   margin-top: $space-medium;
//   flex-direction: column;
//   background-color: $white;
//   border: 1px solid $black;

//   @include breakpoint(medium) {
//     .ModuleCards_full & {
//       flex-direction: row;
//       align-items: center;
//     }
//   }

//   @include breakpoint(large) {
//     margin-top: $space-large;
//   }
// }

// .ModuleCardsItem__image-wrap {
//   position: relative;
//   display: flex;
//   width: 100%;
//   min-height: 250px;

//   .ModuleCards_third & {
//     min-height: 200px;
//   }

//   @include breakpoint(medium) {
//     .ModuleCards_full & {
//       width: 50%;
//       min-height: 400px;
//       flex-shrink: 0;
//       align-self: stretch;
//     }

//     .ModuleCards_full .ModuleCardsItem:nth-child(even) & {
//       order: 1;
//     }
//   }
// }

// .ModuleCardsItem__image {
//   @include object-fit;

//   opacity: 0.8;
// }

// .ModuleCardsItem__content {
//   display: flex;
//   flex-direction: column;
//   align-items: start;
//   width: 100%;
//   height: 100%;
//   padding: $space-medium;

//   .ModuleCards_full & {
//     display: block;
//     height: auto;

//     @include breakpoint(medium) {
//       padding: $space-large;
//     }
//   }
// }

// .ModuleCardsItem__label {
//   @include heading-smaller;

//   width: 100%;
//   color: $black;
//   text-transform: uppercase;
// }

// .ModuleCardsItem__heading {
//   @include heading-default;

//   width: 100%;
//   color: $color-secondary-default;

//   .ModuleCardsItem__label + & {
//     margin-top: $space-small;
//   }
// }

// .ModuleCardsItem__copy {
//   @include body-default;

//   width: 100%;
//   margin-top: $space-small;
//   flex-grow: 1;
// }
</style>

