<template>
  <footer
    aria-label="Footer content"
    class="TheFooter"
  >
    <div class="TheFooter__inner">
      <div class="TheFooter__logo-address-container">
        <a
          :href="content.logo.url"
          rel="noopener"
          target="_blank"
          class="TheFooter__logo-link"
        >
          <BaseLogo
            v-if="content.logo"
            class="TheFooter__logo"
            v-bind="content.logo"
            fill="#2788C9"
          />
        </a>
        <address
          v-if="content.contact"
          class="TheFooter__contact text-style-1 text-black"
          v-html="content.contact"
        />
      </div>
      <div class="TheFooter__links-container">
        <ul class="TheFooter__link-list">
          <li
            v-for="(link, index) in content.footerLinks"
            :key=index
            class="TheFooter__link-item"
          >
            <a
              class="TheFooter__link"
              :href="link.url"
              target="_blank"
              rel="noopener"
            >
              <div class="TheFooter__link-inner">
                <svg class="TheFooter__link-icon">
                  <use :xlink:href="`/svg/icon-${link.icon}.svg#icon`"></use>
                </svg>
                <h4
                  v-text="link.title"
                  class="TheFooter__link-title subhead-style-1 text-cerulean"
                />
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="TheFooter__social-container">
        <h3
          v-text="content.socialLinksTitle"
          class="TheFooter__social-links-title subhead-style-2 text-lime"
        />
        <div
          v-if="content.social"
          class="TheFooter__social"
        >
          <BaseCtaSocial
            v-for="(item, index) in content.social"
            :key="`BaseCtaSocial_${index}`"
            v-bind="item"
          />
        </div>
      </div>
      <div class="TheFooter__email-container">
        <div class="TheFooter__email">
          <h3
            v-text="content.email.title"
            class="TheFooter__email-title subhead-style-2 text-lime"
          />
          <a
            v-text="content.email.label"
            class="TheFooter__email-link"
            :href="content.email.url"
            target="_blank"
            rel="noopener"
          />
        </div>
      </div>
      <div class="TheFooter__copyright-container">
        <div class="TheFooter__copyright">
          <div
            class="TheFooter__copyright-copy text-style-2 text-black"
            v-html="content.copyright.copy"
          />
          <div
            class="TheFooter__copyright-links"
            v-if="content.copyright.links"
          >
            <a
              v-for="({ href, text }, index) in content.copyright.links"
              :key="`TheFooter__copyright-link_${index}`"
              :href="href"
              rel="noopener"
              target="_blank"
              class="TheFooter__copyright-link text-style-2 text-black"
              v-text="text"
            />
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
import BaseLogo from '@/components/BaseLogo.vue'
import BaseCtaSocial from '@/components/BaseCtaSocial.vue'

export default {
  components: {
    BaseLogo,
    BaseCtaSocial,
  },
  props: {
    content: {
      type: Object,
      required: true,
    },
  },
}
</script>

<style lang="scss">
.TheFooter {
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    background-color: $lime;
  }
}

.TheFooter__inner {
  @include flex-grid-row;
  @include row-padding;

  position: relative;
  padding-top: $space-large;
  padding-bottom: $space-large;
  align-items: stretch;

  @include breakpoint(footer) {
    padding-top: 40px;
    padding-bottom: 50px;
  }

  @include breakpoint(large) {
    padding-top: 80px;
    padding-bottom: 100px;
  }
}

.TheFooter__logo-address-container {
  @include flex-grid-column(12);

  @include breakpoint(footer) {
    @include flex-grid-size(4);
  }
}

.TheFooter__links-container {
  @include flex-grid-column(12);

  @include breakpoint(footer) {
    @include flex-grid-size(8);
    margin-bottom: 70px;
  }
}

.TheFooter__social-container {
  @include flex-grid-column(12);
  margin-top: 40px;

  @include breakpoint(footer) {
    @include flex-grid-size(4);
    @include grid-column-offset(1);
    order: 4;
    margin-top: 0;
  }
}

.TheFooter__email-container {
  @include flex-grid-column(12);
  margin-top: 40px;

  @include breakpoint(footer) {
    @include flex-grid-size(4);
    order: 5;
    margin-top: 0;
  }
}

.TheFooter__copyright-container {
  @include flex-grid-column(12);
  margin-top: 50px;

  @include breakpoint(footer) {
    @include flex-grid-size(3);
    order: 3;
    margin-top: 0;
  }
}

.TheFooter__logo-link {
  display: inline-block;
}

.TheFooter__logo {
  width: 150px;
  height: 70px;

  @include breakpoint(footer) {
    width: 100%;
    max-width: 180px;
    height: 84px;
    transition: fill $transition-default;

    .TheFooter__logo-link:hover &,
    .TheFooter__logo-link:focus & {
      fill: $color-primary-default;
    }
  }
}

.TheFooter__contact {
  margin-top: $space-small;

  a {
    display: inline-block;
    color: $white;
    border-bottom: 2px solid rgba($white, 0);
    transition: border-color $transition-default;

    &:hover,
    &:focus {
      border-color: rgba($white, 1);
    }
  }
}

.TheFooter__link-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 40px;

  @include breakpoint(footer) {
    flex-direction: row;
    margin-top: 0;
  }
}

.TheFooter__link-item {
  & + & {
    margin-top: $space-small;

    @include breakpoint(medium) {
      margin-top: $space-large;
    }
  }

  @include breakpoint(footer) {
    width: 50%;

    & + & {
      margin-top: 40px;
    }

    &:nth-child(2) {
      margin-top: 0;
    }

    &:nth-child(odd) {
      padding-right: 15px;
    }
  }
}

.TheFooter__link {
  display: inline-block;
}

.TheFooter__link-inner {
  display: flex;
  align-items: center;
}

.TheFooter__link-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  fill: $cerulean;
  stroke: $cerulean;
}

.TheFooter__link-title {
  position: relative;
  display: inline-block;
  margin-left: $space-medium;

  @include breakpoint(medium) {
    margin-left: $space-large;
  }

  &::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    content: "";
    background-color: $cerulean;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform $transition-default;
  }

  &:hover,
  &:focus {
    &::after {
      transform: scaleX(1);
    }
  }
}

.TheFooter__social {
  @include breakpoint(footer) {
    margin-top: 0;
  }
}

.TheFooter__email-link {
  @include button-solid($white, $cerulean, $white, $tangerine);
  display: inline-block;
  max-width: 100%;
  margin-top: $space-small;

  @include breakpoint(footer) {
    min-width: 150px;
  }
}

.TheFooter__copyright-links {
  margin-top: 20px;
}

.TheFooter__copyright-link {
  position: relative;
  display: inline-block;
  margin-top: 5px;
  margin-right: 15px;
  transition: color $transition-default;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    content: "";
    background-color: $charcoal;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform $transition-default;
  }

  &:hover,
  &:focus {
    &::after {
      transform: scaleX(1);
    }
  }
}
</style>
