<template>
  <header
    class="TheHeader"
    aria-label="Header"
  >
    <div
      v-if="content.logo"
      class="TheHeader__logo-wrapper"
    >
      <a
        :href="content.logo.url"
        rel="noopener"
        target="_blank"
        class="TheHeader__logo-link"
      >
        <BaseLogo
          class="TheHeader__logo"
          v-bind="content.logo"
        />
      </a>
    </div>
    <TheHeaderMenu
      v-if="content.menu"
      class="TheHeader__menu"
      v-bind="content.menu"
    />
  </header>
</template>

<script>
import BaseLogo from '@/components/BaseLogo.vue'
import TheHeaderMenu from '@/components/TheHeaderMenu.vue'

export default {
  components: {
    BaseLogo,
    TheHeaderMenu,
  },
  props: {
    content: {
      type: Object,
      required: true,
    },
  },
}
</script>

<style lang="scss">
.TheHeader {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

.TheHeader__logo-wrapper {
  position: absolute;
  top: 25px;
  left: 20px;

  @include breakpoint(medium) {
    top: 35px;
  }

  @include breakpoint(xlarge) {
    left: 50px;
  }

  .TheHeader_menu-open & {
    position: fixed;
    z-index: 1;
  }
}

.TheHeader__logo-link {
  display: inline-block;
}

.TheHeader__logo {
  width: 100px;
  height: 44px;
  fill: $white;

  @include breakpoint(medium) {
    width: 126px;
    height: 59px;
    transition: fill $transition-default;

    .TheHeader__logo-link:hover &,
    .TheHeader__logo-link:focus & {
      fill: $tangerine;
    }
  }
}
</style>
