<template>
  <nav
    class="TheHeaderMenu"
    aria-label="Main menu"
  >
    <button class="TheHeaderMenu__cta">buttons</button>
  </nav>
</template>

<script>

export default {
  props: {
    links: {
      type: Array,
      required: true,
    },
  },
}
</script>

<style lang="scss">
.TheHeaderMenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
</style>
