<template>
  <!-- eslint-disable -->
  <div class="TheModal">
    <div class="TheModal__inner">
      <button alt="close" aria-label="Close Modal" class="TheModal__close-button">
        <svg viewBox="0 0 9.76 9.61" class="TheModal__close-button-svg" xmlns="http://www.w3.org/2000/svg">
          <path d="M.9.75l8.11 8.11M8.86.75L.75 8.86"/>
        </svg>
      </button>
      <div class="TheModal__content">
        <h2 class="TheModal__heading">Creatures, Keys & Memories this year at the Zoo</h2>
        <p class="TheModal__text">With more to experience than ever before, now’s the perfect time to connect with the planet…and each other.</p>
        <a href="summer.philadelphiazoo.org" rel="noopener" target="_blank" class="TheModal__cta">Plan your visit</a>
      </div>
    </div>
  </div>
</template>

<style>
.TheModal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0, 0.68);
}

.TheModal__inner {
  position: relative;
  box-sizing: border-box;
  padding: 69px 28px 40px;
  margin-right: 25px;
  margin-left: 25px;
  width: 100%;
  background-color: #FFF;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/images/modal-image.jpg");
}

.TheModal__close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 46px;
  height: 46px;
  background-color: #2788C9;
  border-width: 0;
  cursor: pointer;
  transition: 0.2s background-color ease-out;
}

.TheModal__close-button:hover {
  background-color: #65a328;
}

.TheModal__close-button-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  stroke: #FFF;
  fill: none;
  transform: translate(-50%, -50%);
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 1.5;
}

.TheModal__heading {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0.6px;
}

.TheModal__text {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.5px;
  margin-top: 20px;
  margin-bottom: 0;
}

.TheModal__cta {
  position: relative;
  z-index: 1;
  display: block;
  font-family: 'PT Sans', sans-serif;
  color: #FFF;
  padding: 20px 25px;
  overflow: hidden;
  margin-top: 30px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  min-width: 200px;
  letter-spacing: 2.2px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

.TheModal__cta::before,
.TheModal__cta::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
}

.TheModal__cta::before {
  z-index: -2;
  background-color: #f26227;
}

.TheModal__cta::after {
  z-index: -1;
  background-color: #ffab30;
  transition: 0.2s transform ease-out;
  transform: translateY(100%);
}

.TheModal__cta:hover::after,
.TheModal__cta:focus::after {
  transform: translateY(0);
}

@media screen and (min-width: 678px) {
  .TheModal__inner {
    padding: 122px 100px 111px;
    width: 770px;
  }

  .TheModal__heading {
    font-size: 42px;
    line-height: 46px;
    letter-spacing: 0.8px;
  }

  .TheModal__text {
    margin-top: 25px;
  }

  .TheModal__cta {
    margin-top: 40px;
    display: inline-block;
  }
}

@media screen and (min-width: 1024px) {
  .TheModal__text {
    font-size: 18px;
    letter-spacing: 0.5px;
  }
}
</style>
