<template>
  <div id="app">
    <TheHeader v-bind="appContent.theHeader"/>
    <ModuleLoader
      v-for="(moduleItem, index) in appContent.modules"
      :key="`ModuleLoader_${index}`"
      :ref="moduleItem.id"
      :moduleData="moduleItem"
    />
    <TheFooter v-bind="appContent.theFooter"/>
  </div>
</template>

<script>
import root from '@/util/root'
import colors from '@/util/colors'
import durations from '@/util/durations'

import appContent from '@/data/appContent.yml'

import TheHeader from '@/components/TheHeader.vue'
import TheFooter from '@/components/TheFooter.vue'
import ModuleLoader from '@/components/ModuleLoader.vue'

export default {
  provide() {
    return {
      [root]: this,
    }
  },
  data: () => ({
    colors,
    durations,
    appContent,
  }),
  components: {
    TheHeader,
    TheFooter,
    ModuleLoader,
  },
}
</script>

<style lang="scss">
@import "~@/styles/base-reset";
@import "~@/styles/base-typography";
</style>
